
.DS_Store
local.properties
.gradle/7.0.2/fileHashes/fileHashes.bin
*.bin
*.lock
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_activity_activity_1_2_4_aar.xml
.idea/libraries/Gradle__androidx_activity_activity_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_activity_activity_compose_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_activity_activity_ktx_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_1_2_0.xml
.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
.idea/libraries/Gradle__androidx_compose_animation_animation_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_animation_animation_core_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_foundation_foundation_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_foundation_foundation_layout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_material_material_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_material_material_icons_core_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_material_material_ripple_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_runtime_runtime_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_runtime_runtime_1_0_1_aar.xml
.idea/libraries/Gradle__androidx_compose_runtime_runtime_saveable_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_runtime_runtime_saveable_1_0_1_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_1_0_1_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_geometry_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_geometry_1_0_1_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_graphics_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_graphics_1_0_1_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_test_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_test_junit4_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_text_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_text_1_0_1_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_tooling_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_tooling_data_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_tooling_preview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_unit_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_compose_ui_ui_unit_1_0_1_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_1_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_4_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_1.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_4.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_6_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_ktx_1_6_0_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_3_6_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_3_1.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_java8_2_3_1.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_ktx_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_test_core_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_ext_junit_1_1_3_aar.xml
.idea/libraries/Gradle__androidx_test_monitor_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_runner_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_services_storage_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_4_0_aar.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1.xml
.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml
.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_12_13.xml
.idea/libraries/Gradle__com_squareup_okio_okio_2_10_0.xml
.idea/libraries/Gradle__io_coil_kt_coil_1_3_2_aar.xml
.idea/libraries/Gradle__io_coil_kt_coil_base_1_3_2_aar.xml
.idea/libraries/Gradle__io_coil_kt_coil_compose_1_3_2_aar.xml
.idea/libraries/Gradle__io_coil_kt_coil_compose_base_1_3_2_aar.xml
.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__junit_junit_4_13_2.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_5_10.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_5_21.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_5_10.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_5_21.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_5_10.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_5_20.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_5_10.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_5_20.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_5_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_5_1.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_5_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_5_1.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_test_1_5_0.xml
*.iml
*.xml
